/* Fuente */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

/* Body */

body {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: 'Poppins', sans-serif;

    background:
        linear-gradient(
            135deg,
            #2c3e94 0%,
            #6f8df5 100%
        );
}

/* Contenedor */

.contenedor {

    background: #ffffff;

    width: 400px;

    padding: 40px;

    border-radius: 24px;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.2);
}

/* Títulos */

h1 {

    color: #2c3e94;

    margin-bottom: 10px;

    font-size: 30px;
}

p {

    color: #64748b;

    margin-bottom: 20px;
}

/* Labels */

label {

    display: block;

    margin-top: 15px;

    margin-bottom: 5px;

    color: #1e3a8a;

    font-weight: 600;
}

/* Required */

.required-label::after {

    content: " *";

    color: red;
}

/* Inputs */

input {

    width: 100%;

    padding: 12px;

    border-radius: 10px;

    border: 2px solid #dbeafe;

    outline: none;
}

input:focus {

    border-color: #2563eb;
}

/* Botón */

.btn-registro {

    width: 100%;

    margin-top: 25px;

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: #f59e0b;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

.btn-registro:hover {

    background: #d97706;
}

/* Links */

.link,
.link-volver {

    display: inline-block;

    margin-top: 20px;

    color: #1d4ed8;

    text-decoration: none;

    font-weight: 600;
}

/* Alert éxito */

.alerta-mensaje-verde {

    margin-top: 25px;

    background: #ecfdf5;

    border: 2px solid #10b981;

    color: #10b981;

    padding: 15px;

    border-radius: 12px;

    text-align: center;

    font-weight: bold;
}











